[submodule "libs/cdata_structures"]
	path = libs/cdata_structures
	url = https://github.com/MbarkErras/cdata_structures.git
[submodule "libs/centropy"]
	path = libs/centropy
	url = https://github.com/MbarkErras/centropy.git
