[submodule "libraries/cdata_structures"]
	path = libraries/cdata_structures
	url = https://github.com/MbarkErras/cdata_structures.git
[submodule "libraries/centropy"]
	path = libraries/centropy
	url = https://github.com/MbarkErras/centropy.git
[submodule "libraries/packet"]
	path = libraries/packet
	url = https://github.com/MbarkErras/packet.git
